<div class="m-auto mt-36 w-4/6 h-3/6 flex flex-col justify-center">
  <form
    class="flex flex-col w-1/5 self-center justify-center"
    [formGroup]="this.filterForm"
  >
    <shared-input
      inputType="select"
      label="Filter by"
      [selectorTypes]="this.filters"
      formControlName="filter"
      ngDefaultControl
    />
    <div class="mt-4 relative">
      <div #searchDivRef>
        <shared-input
          *ngIf="
            this.filterForm.get('filter')?.value !== this.filters[0];
            else selectInput
          "
          inputType="text"
          label="Value"
          inputPlaceholder="Value"
          formControlName="value"
          ngDefaultControl
          (keyUp)="this.onKeyPress($event)"
          (inputClick)="this.isExerciseSearchOpen = !this.isExerciseSearchOpen"
        />
      </div>

      <shared-dropdown
        dropdownClassNames="w-full h-44 left-0"
        [openComponentRef]="this.searchRef"
        [isOpen]="this.isExerciseSearchOpen"
        (onClickOutise)="this.onCloseDropdown()"
      >
        <li
          class="w-full p-2 flex justify-between hover:bg-gray-200 cursor-pointer"
          *ngFor="let filteredExercises of this.filteredExercises"
          (click)="this.onFilteredExerciseClick(filteredExercises)"
        >
          <p>{{ filteredExercises.name }}</p>
        </li>
      </shared-dropdown>
    </div>

    <ng-template #selectInput>
      <shared-input
        ngClass="mt-4"
        inputType="select"
        label="Value"
        inputPlaceholder="Value"
        formControlName="value"
        ngDefaultControl
        [selectorTypes]="this.muscles"
        (selectorChange)="this.onMuscleSelect($event)"
      />
    </ng-template>
  </form>

  <apx-chart
    #chart
    ngClass="mt-10"
    [series]="this.chartOptions.series!"
    [chart]="this.chartOptions.chart!"
    [xaxis]="this.chartOptions.xaxis!"
    [yaxis]="this.chartOptions.yaxis!"
    [title]="this.chartOptions.title!"
    [theme]="this.chartOptions.theme!"
  ></apx-chart>
</div>
