<div
  class="h-full w-full flex flex-col items-center bg-gradient-to-t from-pink-300/90 via-purple-300/90 to-indigo-400/90 backdrop-blur-sm"
>
  <h1 class="m-8 text-xl font-bold">New Friend</h1>
  <shared-input
    ngClass="w-40 h-10"
    inputType="search"
    inputPlaceholder="type user..."
    (keyUp)="this.onKeyPress($event)"
  />

  <ul class="w-full h-full mt-10 flex flex-col items-center overflow-y-scroll">
    <li *ngFor="let user of this.filteredUsernames">
      <div class="p-4 flex flex-row items-center">
        <h1 class="ml-4">{{ user.username }}</h1>
        <img
          class="w-6 h-6 ml-4 cursor-pointer"
          src="assets/add-green.png"
          (click)="this.onAddFriendClick(user.username)"
        />
      </div>
    </li>
  </ul>
</div>
