<div
  class="h-full w-full flex flex-col items-center bg-gradient-to-t from-pink-300/90 via-purple-300/90 to-indigo-400/90 backdrop-blur-sm"
>
  <h1 class="m-8 text-xl font-bold">New Friend</h1>
  <shared-input
    ngClass="w-40 h-10"
    inputType="search"
    inputPlaceholder="type user..."
    (keyUp)="this.onKeyPress($event)"
  />

  <ul class="w-full h-full mt-10 flex flex-col items-center overflow-y-scroll">
    <li *ngFor="let user of this.filteredUsernames">
      <div class="flex flex-row items-center">
        <h1 class="ml-4">{{ user.username }}</h1>
        <shared-button
          buttonType="button"
          class="ml-4"
          (onButtonClick)="this.onAddFriendClick(user.username)"
        >
          Add
        </shared-button>
      </div>
    </li>
  </ul>
</div>
