.menu-icon {
  display: none;
}

#nav-bar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

#nav-bar-left img {
  width: 4rem;
  height: 100%;
}

#nav-bar-left h1 {
  display: none;
}

#centering-div {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  #nav-bar-left {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: -500px;
    height: 100vh;
    width: 50%;
    background: linear-gradient(
      to right,
      rgba(249, 168, 212, 0.98),
      rgba(216, 180, 254, 0.98),
      rgba(129, 140, 248, 0.98)
    );
    transition: left 0.5s ease;
  }

  #nav-bar-left img {
    width: 150px;
    height: 150px;
  }

  #nav-bar-left h1 {
    display: block;
  }

  #nav-bar-left li:hover {
    color: white;
  }

  #centering-div {
    display: block;
  }
  .show-menu {
    left: 0 !important;
  }
  .links-list {
    flex-direction: column;
  }

  .links-list li {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  #nav-bar-left {
    display: flex !important;
  }
}
