<nav class="fixed z-50 w-full h-16 flex items-center justify-between">
  <div class="h-full flex items-center">
    <img
      class="mb-2 w-18 h-full hover:cursor-pointer"
      src="assets/gymrat-logo.png"
      alt="gymrat-logo"
      routerLink="/home"
    />
    <ul class="ml-4 cursor-pointer hover:text-blue-500">
      <li routerLink="/routines">Routines</li>
    </ul>
  </div>
  <div class="relative flex items-center mr-2">
    <img
      class="mr-2 w-10 h-10 hover:cursor-pointer"
      src="assets/notification-icon.png"
      alt="notifications-icon"
      (click)="this.isNotificationsOpen = !this.isNotificationsOpen"
    />

    <img
      class="mr-2 w-10 h-10 hover:cursor-pointer"
      src="assets/profile-icon.png"
      alt="profile-icon"
      [routerLink]="'/' + this.userName + '/profile'"
    />
    <shared-button
      class="h-9 w-20"
      buttonStyle="bg-violet-600 text-white hover:bg-violet-100 hover:text-black"
      (click)="this.logout()"
      >Log Out</shared-button
    >

    <ul
      *ngIf="this.isNotificationsOpen"
      [class]="
        'absolute w-full h-96 mt-2 flex flex-col overflow-y-scroll top-full -left-20 ' +
        'bg-white rounded-lg shadow-lg bg-gradient-to-b from-pink-300/90 via-purple-300/90 to-indigo-400/90 backdrop-blur-sm'
      "
    >
      <li
        class="flex items-center justify-between p-2"
        *ngFor="let notification of this.notifications"
      >
        <p>{{ notification.sender }}</p>
        <div class="flex items-center">
          <img
            class="h-8 w-8 cursor-pointer"
            src="assets/accept.png"
            (click)="this.handleAcceptFriendRequest(notification)"
          />
          <img
            class="h-8 w-8 ml-1 cursor-pointer"
            src="assets/reject.png"
            (click)="this.handleRejectFriendRequest(notification)"
          />
        </div>
      </li>
    </ul>
  </div>
</nav>
