.menu-icon {
  display: none;
}

#nav-bar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

#nav-bar-left img {
  width: 4rem;
  height: 100%;
}

#nav-bar-left h1 {
  display: none;
}

#centering-div {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  #nav-bar-left {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    background-color: grey;
  }

  #nav-bar-left img {
    width: 150px;
    height: 150px;
  }

  #nav-bar-left h1 {
    display: block;
  }

  #centering-div {
    display: block;
  }

  .links-list {
    flex-direction: column;
  }

  .links-list li {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  #nav-bar-left {
    display: flex !important;
  }
}
