<nav class="fixed z-50 w-full h-16 flex items-center justify-between">
  <div class="h-full flex items-center">
    <img
      class="mb-2 w-18 h-full hover:cursor-pointer"
      src="assets/gymrat-logo.png"
      alt="gymrat-logo"
      routerLink="/home"
    />
    <ul class="ml-4 cursor-pointer hover:text-blue-500">
      <li routerLink="/routines">Routines</li>
    </ul>
  </div>
  <div class="relative flex items-center mr-2">
    <img
      class="mr-2 w-10 h-10 hover:cursor-pointer"
      src="assets/notification-icon.png"
      alt="notifications-icon"
      (click)="this.isNotificationsOpen = !this.isNotificationsOpen"
    />

    <img
      class="mr-2 w-10 h-10 hover:cursor-pointer"
      src="assets/profile-icon.png"
      alt="profile-icon"
      [routerLink]="'/' + this.userName + '/profile'"
    />
    <shared-button
      class="h-9 w-20"
      buttonStyle="bg-violet-600 text-white hover:bg-violet-100 hover:text-black"
      (click)="this.logout()"
      >Log Out</shared-button
    >

    <ul
      *ngIf="this.isNotificationsOpen"
      class="absolute flex flex-col overflow-y-scroll top-full -left-20 w-full h-96 bg-white rounded-lg shadow-lg"
    >
      <li class="flex" *ngFor="let item of this."></li>
    </ul>
  </div>
</nav>
