<form
  class="m-auto p-6 mt-32 h-4/6 w-3/5 flex flex-col bg-gradient-to-t from-pink-300/50 via-purple-300/50 to-indigo-400/50 backdrop-blur-sm rounded-md shadow-md sm:w-4/5 transitions-all duration-500 ease"
>
  <header class="h-16 flex justify-between">
    <div></div>
    <h1 class="ml-10 text-center text-2xl font-bold self-center">PROFILE</h1>
    <img
      #imgRef
      class="p-1 w-12 h-12 hover:cursor-pointer hover:bg-gray-400"
      src="assets/add-friend.png"
      alt="add-friend"
      title="Friends"
      (click)="this.onAddUserClick()"
    />
  </header>
  <div
    class="mt-10 h-3/5 w-3/5 grid grid-cols-2 sm:mt-0 sm:grid-cols-1 self-center justify-items-center"
  >
    <shared-input
      ngClass="h-3/5 w-4/5 self-center"
      label="Username"
      inputPlaceholder="Username"
      inputType="text"
      [inputValue]="this.profile.userName"
      [editable]="false"
    />
    <shared-input
      ngClass="h-3/5 w-4/5 self-center"
      label="Email"
      inputPlaceholder="Email"
      inputType="text"
      [inputValue]="this.profile.email"
      [editable]="false"
    />
    <shared-input
      ngClass="h-3/5 w-4/5 self-center"
      label="Gym Experience"
      inputPlaceholder="Gym Experience"
      inputType="text"
      [inputValue]="this.profile.gymExperience"
      [editable]="false"
    />
    <shared-input
      ngClass="h-3/5 w-4/5 self-center"
      inputType="date"
      label="Birth Date"
      inputPlaceholder="Birth Date"
      [inputValue]="this.profile.birthDate | date : 'yyyy-MM-dd'"
      [editable]="false"
    />
    <shared-input
      ngClass="h-3/5 w-4/5 self-center"
      inputType="number"
      label="Height"
      inputPlaceholder="Height"
      [inputValue]="this.profile.height"
      [editable]="false"
    />
    <shared-input
      ngClass="h-3/5 w-4/5 self-center"
      inputType="number"
      label="Weight"
      inputPlaceholder="Weight"
      [inputValue]="this.profile.weight"
      [editable]="false"
    />
  </div>
</form>
