<div
  class="h-full w-full bg-gradient-to-t from-pink-300/90 via-purple-300/90 to-indigo-400/90 backdrop-blur-sm"
>
  <section
    class="h-full w-full flex flex-col items-center"
    *ngIf="this.friendsView; else newFriendView"
  >
    <div class="w-full h-16 flex items-center justify-around header-shadow">
      <div></div>
      <h1 class="m-8 text-xl font-bold">Friends</h1>
      <img
        src="assets/add.png"
        class="w-8 h-8 cursor-pointer hover:bg-gray-400"
        title="Add Friend"
        (click)="this.onChangeViewClick()"
      />
    </div>

    <shared-loading
      ngClass="m-auto"
      *ngIf="this.loadingFriends; else friendsList"
    />

    <ng-template #friendsList>
      <ul
        class="w-full h-full flex flex-col items-center overflow-y-scroll pt-4 md:p-0"
      >
        <li
          class="w-full flex justify-between items-center hover:bg-gray-200 p-4"
          *ngFor="let user of this.friendsUsernames"
        >
          <h1 class="ml-4">{{ user.username }}</h1>
          <img
            class="w-8 h-8 ml-4 cursor-pointer"
            src="assets/trash-icon.png"
            title="Delete Friend"
            (click)="this.onDeleteFriendClick(user.username)"
          />
        </li>
      </ul>
    </ng-template>
  </section>

  <ng-template #newFriendView>
    <section class="h-full w-full flex flex-col items-center">
      <div class="w-full h-16 flex items-center justify-around header-shadow">
        <div></div>
        <h1 class="m-8 text-xl font-bold">New Friend</h1>
        <shared-button
          ngClass="w-12 h-10"
          title="Return to friends"
          (onButtonClick)="this.onChangeViewClick()"
        >
          <img class="w-full h-full p-2" src="assets/back-icon.png" />
        </shared-button>
      </div>
      <div class="flex items-center">
        <shared-input
          ngClass="w-40 h-10"
          inputType="search"
          inputPlaceholder="type user..."
          (keyUp)="this.onKeyPress($event)"
          (inputClick)="this.onDeleteSearchTermClick()"
        />
        <img
          class="mt-4 ml-2 w-8 h-8 cursor-pointer"
          src="assets/search-icon.png"
          (click)="this.onKeyPress(this.searchTerm)"
        />
      </div>

      <shared-loading
        ngClass="m-auto"
        *ngIf="this.loadingFriends; else addFriendsList"
      />

      <ng-template #addFriendsList>
        <ul
          class="w-full h-full p-4 mt-10 flex flex-col items-center overflow-y-scroll sm:p-0"
        >
          <li
            class="w-full flex justify-between hover:bg-gray-200 p-4 items-center"
            *ngFor="let user of this.filteredUsernames"
          >
            <h1 class="ml-4">{{ user.username }}</h1>
            <img
              class="w-8 h-8 ml-4 cursor-pointer"
              src="assets/add-green.png"
              (click)="this.onAddFriendClick(user.username)"
            />
          </li>
        </ul>
      </ng-template>
    </section>
  </ng-template>
</div>
