<article class="m-auto w-3/4 flex flex-col">
  <h1 class="text-xl">Routine {{ this.routineNumber + 1 }}</h1>
  <div class="grid grid-cols-2">
    <shared-input class="p-4" [inputValue]="this.routine.muscularGroup" />
    <shared-input
      class="p-4"
      inputType="date"
      [inputValue]="this.routine.realizationDate | date : 'yyyy-MM-dd'"
    />
  </div>

  <div
    class="mt-4 grid grid-cols-1 justify-items-center"
    *ngFor="let exercise of this.exercises; index as i"
  >
    <h1>Exercise {{ i + 1 }}</h1>
    <routines-exercise [exercise]="exercise" />
  </div>
</article>
