<form class="h-full" (ngSubmit)="this.saveRoutine()">
  <section
    class="m-auto w-3/4 flex flex-col"
    *ngIf="this.routine; else createNewRoutine"
  >
    <div class="relative flex">
      <div class="w-full flex justify-between">
        <div class="flex items-center">
          <h1 class="text-xl">Routine {{ this.routineNumber + 1 }}</h1>
          <img
            #shareRef
            class="ml-4 w-6 h-6 cursor-pointer"
            src="assets/share-icon.png"
            alt="share icon"
            (click)="this.changeShareRoutine()"
          />
        </div>
        <img
          class="w-8 h-8 cursor-pointer"
          src="assets/trash-icon.png"
          alt="trash-icon"
          (click)="this.onRemoveRoutineClick(routine)"
        />
      </div>
      <shared-dropdown
        dropdownClassNames="md:w-1/5 sm:w-full h-44 left-0"
        *ngIf="this.isShareRoutineOpen"
        [openComponentRef]="this.shareIconRef"
        (onClickOutise)="this.onCloseDropdown()"
        (onEscape)="this.onCloseDropdown()"
      >
        <li
          class="flex items-center justify-between p-2"
          *ngFor="let friend of this.friendsToShare"
        >
          <p>{{ friend.username }}</p>
          <img
            class="h-8 w-8 ml-2 cursor-pointer"
            src="assets/share-icon.png"
            (click)="this.onShareRoutineClick(friend.username)"
          />
        </li>
      </shared-dropdown>
    </div>

    <div class="grid md:grid-cols-2 sm:grid-cols-1">
      <shared-input
        class="p-4"
        label="Muscular Group"
        [inputValue]="this.routine.muscularGroup"
      />
      <shared-input
        class="p-4"
        inputType="date"
        label="Realization Date"
        [inputValue]="this.routine.realizationDate | date : 'yyyy-MM-dd'"
      />
    </div>

    <img
      [class]="
        'w-10 h-10 m-4 self-center cursor-pointer hover:scale-125 transition-all duration-500 ease-out delay-150 ' +
        (this.showExercises ? 'rotate-180' : '')
      "
      src="assets/dropdown.png"
      (click)="this.changeShowExercises()"
    />
    <div [@fadeInFromTop] [@fadeOutToTop] *ngIf="this.showExercises">
      <routines-superset
        *ngFor="let exercise of this.exercises; index as i"
        [exerciseNumber]="i + 1"
        [exercises]="exercise.exercises"
        [isSuperset]="exercise.exercises.length > 1"
        [hideItems]="true"
      />
    </div>
  </section>

  <ng-template #createNewRoutine>
    <section class="h-full flex flex-col justify-around p-2">
      <div class="h-16 w-32 self-center">
        <shared-button buttonType="button" (onButtonClick)="this.addExercise()"
          >Add Exercise
        </shared-button>
      </div>

      <div class="h-full mt-6 grid grid-cols-1 scrollable-div pb-10">
        <ng-template #supersetRef class="mb-4"></ng-template>

        <div
          *ngIf="this.componentReferences.length > 0"
          class="h-14 w-24 m-auto"
        >
          <shared-button class="mt-24" buttonType="submit">
            Confirm
          </shared-button>
        </div>
      </div>
    </section>
  </ng-template>
</form>
