<shared-loading
  class="m-auto h-full w-full"
  *ngIf="this.loadingCalendar; else calendar"
></shared-loading>

<ng-template #calendar>
  <div class="flex h-full w-full align-middle">
    <full-calendar
      #fullCalendar
      [class]="
        'm-auto p-6 mt-20 w-3/4 h-5/6 bg-gradient-to-t from-pink-300/50 via-purple-300/50 to-indigo-400/50 ' +
        'backdrop-blur-sm rounded-md shadow-md'
      "
      [options]="this.calendarOptions"
      (click)="this.loadCalendar()"
    ></full-calendar>
  </div>
</ng-template>
