<form ngClass="flex flex-col">
  <h1>Exercise {{ this.exerciseNumber }}</h1>
  <mat-checkbox (change)="this.changeExerciseType()">Superset?</mat-checkbox>
  <div
    ngClass="w-3/5 self-center"
    *ngIf="this.isSuperset"
    class="grid grid-cols-2 p-4"
  >
    <shared-input class="p-2" inputPlaceholder="Name" />
    <shared-input class="p-2" inputPlaceholder="Series" />
    <shared-input class="p-2" inputPlaceholder="Reps" />
    <shared-input class="p-2" inputPlaceholder="Weight" />
  </div>
  <div class="w-24 h-14 self-start">
    <shared-button class="p-2">Add</shared-button>
  </div>
</form>
