/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/login-bg-violet.png");
  background-size: 100% 100%;
}

/* body,
body * {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

body::-webkit-scrollbar,
body *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
  background: #8070d4;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

ng-component {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.bg-image {
  background-image: url("/assets/login-bg-violet.png");
  background-size: 100% 100%;
}

.mat-mdc-dialog-surface {
  background: transparent !important;
}

.fc .fc-day:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.fc .fc-col-header-cell:hover {
  background-color: white;
  cursor: default;
}

.fc-daygrid-day-events:hover * {
  background: none !important;
}

.modal {
  border-radius: 20px;
}

.scrollable-div {
  overflow-y: auto;
}

@media (max-width: 768px) {
  .fc-event-title {
    display: none !important;
  }
}
