/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

ng-component {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100%;
}

.bg-image {
  background-image: url("/assets/login-bg-violet.png");
  background-size: 100% 100%;
}

.fc .fc-day:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.fc .fc-col-header-cell:hover {
  background-color: white;
  cursor: default;
}

.modal {
  border-radius: 20px;
}
