<form [formGroup]="exerciseForm" ngClass="flex flex-col">
  <div ngClass="w-3/5 self-center" class="grid grid-cols-1 p-4">
    <h1 class="p-4 text-center text-lg" *ngIf="this.exerciseNumber > 0">
      Exercise {{ this.exerciseNumber }}
    </h1>
    <div class="grid grid-cols-2">
      <shared-input
        class="p-2"
        inputType="text"
        inputPlaceholder="Name"
        ngDefaultControl
        formControlName="exerciseName"
      />
      <shared-input
        class="p-2"
        inputType="number"
        inputPlaceholder="Series"
        ngDefaultControl
        formControlName="series"
      />
      <shared-input
        class="p-2"
        inputType="select"
        inputPlaceholder="Muscle"
        [selectorTypes]="this.muscles"
        ngDefaultControl
        formControlName="muscle"
      />
      <shared-input
        class="p-2"
        inputType="select"
        inputPlaceholder="Type"
        [selectorTypes]="this.types"
        ngDefaultControl
        formControlName="type"
      />
      <shared-input
        class="p-2"
        inputType="select"
        inputPlaceholder="Difficulty"
        [selectorTypes]="this.difficulties"
        ngDefaultControl
        formControlName="difficulty"
      />
    </div>

    <div *ngIf="this.series.length > 0">
      <div class="flex" formGroupName="reps">
        <shared-input
          *ngFor="let item of this.series"
          class="p-2"
          inputType="number"
          inputPlaceholder="Rep {{ item + 1 }}"
          ngDefaultControl
          formControlName="r{{ item }}"
        />
      </div>
      <div class="flex" formGroupName="weights">
        <shared-input
          *ngFor="let item of this.series"
          class="p-2"
          inputType="number"
          inputStep="0.1"
          inputPlaceholder="Weight {{ item + 1 }}"
          ngDefaultControl
          formControlName="w{{ item }}"
        />
      </div>
    </div>
  </div>
</form>
