<form class="w-full h-full bg-gradient-to-b from-violet-200 to-blue-400">
  <div
    *ngIf="!this.newRoutineView; else newRoutine"
    class="p-2 flex justify-between items-center"
  >
    <shared-button ngClass="w-16 h-8" mat-dialog-close buttonType="button"
      >Exit
    </shared-button>
    <h1 class="mr-2 text-xl font-bold text-center">
      {{ this.data.date | date : "longDate" }}
    </h1>
    <img
      class="w-10 h-10 hover:bg-gray-400 hover:cursor-pointer"
      src="assets/add.png"
      alt="add-icon"
      (click)="this.changeView()"
    />
  </div>

  <ng-template #newRoutine>
    <div class="p-2 flex justify-between items-center">
      <shared-button ngClass="w-16 h-8" mat-dialog-close buttonType="button">
        Exit
      </shared-button>
      <h1 class="text-xl font-bold text-center">
        {{ this.data.date | date : "longDate" }}
      </h1>
      <shared-button
        ngClass="w-12 h-10"
        buttonStyle="flex justify-center"
        (onButtonClick)="this.changeView()"
        ><img class="pt-1 w-8 h-8" src="assets/back-icon.png" alt="back-icon"
      /></shared-button>
    </div>
    <!-- TODO: Add exercises to routine -->

    <div class="h-4/5 flex flex-col p-2">
      <div class="h-16 w-32 self-center">
        <shared-button buttonType="button" (onButtonClick)="this.addExercise()"
          >Add Exercise
        </shared-button>
      </div>

      <div class="h-4/5 mt-6 scrollable-div pb-10">
        <div class="mb-4" *ngFor="let number of this.exercises">
          <routines-superset
            [exerciseNumber]="number"
            (trash)="deleteComponent($event)"
          />
        </div>

        <div *ngIf="this.exercises.length > 0" ngClass="h-14 w-24 m-auto">
          <shared-button ngClass="mt-12" buttonType="button">
            Confirm
          </shared-button>
        </div>
      </div>
    </div>
  </ng-template>
</form>
