<div class="h-full w-full flex flex-col">
  <h1 class="pb-2 text-center text-l font-bold">
    {{ this.label }}
  </h1>
  <div class="w-full h-full" *ngIf="this.inputType !== 'select'">
    <input
      [class]="
        'w-full h-full p-2 md:p-1 border-b border-violet-700 bg-transparent ' +
        'outline-none hover:bg-violet-200 placeholder:text-gray-500 text-center ' +
        this.inputclass
      "
      [placeholder]="this.inputPlaceholder"
      [type]="this.inputType"
      [step]="this.inputStep"
      [value]="this.inputValue"
      [disabled]="!this.editable"
      (input)="this.onInput($event)"
      (keyup)="this.onKeyUp($event)"
      (click)="this.onClick($event)"
      º
    />

    <ul
      [class]="
        'absolute m-1 rounded-md bg-gradient-to-b from-violet-200 to-violet-400 scrollable-div ' +
        this.listclass
      "
    >
      <li
        class="p-4 hover:bg-violet-200 hover:rounded-md hover:cursor-pointer"
        *ngFor="let item of this.hints"
      >
        {{ item }}
      </li>
    </ul>
  </div>

  <select
    [class]="
      'w-full h-full p-2 md:p-1 border-b border-violet-700 bg-transparent outline-none ' +
      'hover:bg-violet-200 placeholder:text-gray-500 ' +
      this.inputclass
    "
    *ngIf="this.inputType === 'select'"
    [ngModel]="this.inputValue || this.selectorTypes[0]"
    [disabled]="!this.editable"
    (change)="this.onSelectorChange($event)"
  >
    <option
      class="bg-violet-200"
      *ngFor="let type of this.selectorTypes"
      [value]="type"
    >
      {{ type | replace : "_" : " " | titlecase }}
    </option>
  </select>
</div>
