<div
  class="w-3/6 h-4/6 grid m-auto mt-22 border rounded-md opacity-75 login-bg-image items-center drop-shadow-2xl"
>
  <div class="flex justify-around">
    <h1 class="mx-6 text-6xl text-blue-700">Register</h1>
    <shared-button
      ngClass="w-32 h-22"
      buttonStyle="flex flex-row items-center justify-center"
      routerLink="/auth/login"
    >
      <img class="w-4 h-4" src="assets/back-icon.png" alt="backimg" />
      <p class="ml-2">Login</p>
    </shared-button>
  </div>

  <shared-form
    ngClass="h-full"
    formStyle="h-full flex flex-col justify-around items-center"
  >
    <div class="grid grid-cols-2">
      <shared-input
        ngClass="mx-6 h-12"
        inputType="text"
        inputPlaceholder="Username"
      />
      <shared-input
        ngClass="mx-6 h-12"
        inputType="text"
        inputPlaceholder="@example.com"
      />
      <shared-input
        ngClass="mx-6 h-12"
        inputType="password"
        inputPlaceholder="Password"
      />
      <shared-input
        ngClass="mx-6 h-12"
        inputType="password"
        inputPlaceholder="Repeat Password"
      />
      <shared-input
        ngClass="mx-6 h-12"
        inputType="date"
        inputPlaceholder="Birth Date"
      />
      <shared-input
        ngClass="mx-6 h-12"
        inputType="number"
        inputPlaceholder="Height"
        inputStep="0.1"
      />
      <shared-input
        ngClass="mx-6 h-12"
        inputType="number"
        inputPlaceholder="Weight"
        inputStep="0.1"
      />
    </div>
    <shared-button ngClass="w-5/6 h-10 mt-2">Register</shared-button>
  </shared-form>
</div>
