<article
  class="w-3/6 h-4/6 grid m-auto mt-22 border rounded-md opacity-75 bg-image items-center drop-shadow-2xl md:flex md:flex-col"
>
  <div class="flex justify-around md:items-center md:flex-col">
    <h1 class="mx-6 text-6xl text-blue-700">Register</h1>
    <shared-button
      class="w-32 h-22"
      buttonStyle="flex flex-row items-center justify-center"
      routerLink="/auth/login"
    >
      <img class="w-4 h-4" src="assets/back-icon.png" alt="backimg" />
      <p class="ml-2">Login</p>
    </shared-button>
  </div>

  <form
    class="h-full flex flex-col justify-around items-center"
    [formGroup]="this.registerForm"
    (submit)="this.register()"
  >
    <div class="grid grid-cols-2 md:grid-cols-1">
      <shared-input
        class="mx-6 h-12"
        inputType="text"
        inputPlaceholder="Username"
        formControlName="username"
        ngDefaultControl
      />
      <shared-input
        class="mx-6 h-12"
        inputType="text"
        inputPlaceholder="@example.com"
        formControlName="email"
        ngDefaultControl
      />
      <shared-input
        class="mx-6 h-12"
        inputType="password"
        inputPlaceholder="Password"
        formControlName="password"
        ngDefaultControl
      />
      <shared-input
        class="mx-6 h-12"
        inputType="password"
        inputPlaceholder="Repeat Password"
      />
      <shared-input
        class="mx-6 h-12"
        inputType="date"
        inputPlaceholder="Birth Date"
        formControlName="birthDate"
        ngDefaultControl
      />
      <shared-input
        class="mx-6 h-12"
        inputType="number"
        inputPlaceholder="Height"
        inputStep="0.1"
        formControlName="height"
        ngDefaultControl
      />
      <shared-input
        class="mx-6 h-12"
        inputType="number"
        inputPlaceholder="Weight"
        inputStep="0.1"
        formControlName="weight"
        ngDefaultControl
      />
      <shared-input
        class="mx-6 h-12"
        inputType="select"
        inputPlaceholder="Gym Experience"
        [selectorTypes]="this.difficulties"
        formControlName="gymExperience"
        ngDefaultControl
      />
    </div>
    <shared-button class="w-5/6 h-10 mt-2">Register</shared-button>
  </form>
</article>
